@{
    Layout = "_Layout";
}

<div class="container-fluid ">
    <div class="row  p-0 justify-content-sm-between orders col ">
        <div class="d-flex flex-column py-4 px-1">
            <div class="px-4 d-flex justify-content-between align-items-center">
                <div>
                    <h4 class=" d-flex align-content-center m-0">Events</h4>
                </div>

                <a href="/Event/AddEditEvent"
                    class="btn btn-primary d-flex text-decoration-none text-white align-items-center gap-2 bg-"><i
                        class="bi bi-plus-square-fill "></i><span
                        class="icon-name fw-bold d-flex justify-content-center ">Add Event</span></a>
            </div>
            <hr class="dropdown-divider">
        </div>

        <div class="d-flex flex-column flex-xl-row gap-3 justify-content-start align-content-end mb-3">
            <div class="row col ">
                <div class="dateSelection  px-2 my-1 my-lg-0 col-sm-6 col-md-5 col-lg-6 col-xl-2  col-12">
                    <label for="itemName" class=" mb-1"> Date From</label>
                    <input type="date" class="form-control rounded-0" id="eventFromDate">
                </div>

                <div class="dateSelection re px-2 my-1 my-lg-0 col-sm-6 col-md-5 col-lg-6 col-xl-2 ">
                    <label for="itemName" class=" mb-1 "> Date To</label>
                    <input type="date" class="form-control rounded-0 " id="eventToDate">
                </div>

                <div class="col-md-6 col-12 col-xl-3 col-lg-6 col-xl-2 ">
                    <label for="itemName" class=" mb-1 ">Category</label>
                    <select class="form-select  rounded-0 " id="eventCategory">
                        <option value="0" selected>All </option>
                        <option value="1">Social Service</option>
                        <option value="2">Games</option>
                        <option value="3">Patriotism</option>
                        <option value="4">Educational</option>
                    </select>
                </div>

                <div class="d-flex align-items-end  col-12 col-xl-3 col-lg-6 col-xl-2 mt-3 ">
                    <a class="btn btn-primary rounded-0  px-4" style="background-color:#0066a7" id="searchEvents">
                        Search
                    </a>
                    <a class="btn cancle_btn clear rounded-0 ms-2 px-4 border-primary text-primary fw-semibold">
                        Reset
                    </a>
                </div>
            </div>
        </div>
        <div class="row d-flex  col-md-auto col-12 col-lg-3  mb-3 ">
            <div class=" d-flex ">
                <input type="text" class="search form-control border-end-0 rounded-0 outline:none" id="eventSearchInput"
                    aria-label="Amount (to the nearest dollar)" oninput="EventPaginationAjax(1)">
                <span onclick="clearSearch()" class="input-group-text bg-white rounded-0 border-start-0"><i
                        class="bi bi-search"></i></span>
            </div>
        </div>

        <div id="eventTableList" class="table_container">

        </div>
    </div>
</div>


<div class="modal fade " id="deleteEventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered text-secondary">
        <div class="modal-content">
            <div class="modal-header border border-0">
                <h5 class="modal-title" id="exampleModalLabel">Delete Confiremation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center flex-column align-items-center">
                <img src="../images/toppng.com-warning-icon-2400x2400.png" alt="" style="width: 70px">
                <p>Are you sure you want to delete this Event?</p>
            </div>
            <div class="modal-footer border border-0 d-flex justify-content-center">
                <form asp-action="DeleteEvent" asp-controller="Event">
                    <input type="hidden" name="eventId" id="EventId" value="">
                    <button type="submit" class="confirmEventDeleteBtn btn btn-primary"
                        id="confirmEventDeleteBtn">YES</button>
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">NO</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    let sortColumn = '';
    let sortDirection = 'asc';


    $(document).ready(function () {
        EventPaginationAjax(1);
    });

    function EventPaginationAjax(pageNumber) {
        let pageSize = $("#eventPageSize").val();
        if (pageSize == 0 || pageSize == null) pageSize = 3;
        if (pageNumber === 0) pageNumber = 1;
        var searchQuery = $('#eventSearchInput').val() || '';
        if (pageNumber === 0) {
            pageNumber = @((Model?.Page!.CurrentPage ?? 1));
        }
        let eventFromDate = $('#eventFromDate').val();
        let eventToDate = $('#eventToDate').val();
        let eventCategory = $('#eventCategory').val();


        $.ajax({
            url: "/Event/GetEventList",
            data: {
                pageSize: pageSize,
                pageNumber: pageNumber,
                searchQuery: searchQuery,
                sortColumn: sortColumn,
                sortDirection: sortDirection,
                eventFromDate: eventFromDate,
                eventToDate: eventToDate,
                eventCategory: eventCategory

            },
            type: "GET",
            dataType: "html",
            success: function (data) {
                $("#eventTableList").html(data);
            },
            error: function () {
                alert("No Projects Found");
                $("#eventTableList").html('An error has occurred');
            }
        });
    }

    function sortBy(column) {
        if (sortColumn === column) {
            sortDirection = sortDirection === 'asc' ? 'desc' : 'asc';
        } else {
            sortDirection = 'asc';
        }
        sortColumn = column;
        EventPaginationAjax(1);
    }

    $('#searchEvents').click(function () {
        EventPaginationAjax(1);
    });




    function clearSearch() {
        $('#searchInput').val('');
        EventPaginationAjax(1);
    }


    
$(document).ready(function () {

$("#eventFromDate").on("change", function () {
var eventFromDate = $(this).val();
$("#eventToDate").attr("min", eventFromDate);
});

$("#eventToDate").on("change", function () {
var eventToDate = $(this).val();
$("#eventFromDate").attr("max", eventToDate);
});
});

$(document).on("click", ".cancle_btn", function () {
$("#eventFromDate").val("");
$("#eventToDate").val("");

})

/* -------------------------------------------------------------------------------------Delete Event Script
--------------------------------------------------------*/
$(document).on("click", ".deleteEventBtn", function () {
let eventId = $(this).data("id");
$('#EventId').val(eventId);
});
</script>


