html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
 
}


body {
  margin: 0;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.main-container {
  display: flex;
  height: calc(100vh - 60px);
  margin-top: 60px;
}

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 250px;
  height: calc(100vh - 60px);
  overflow-y: auto;
  background-color: #f5f5f8;
  transition: transform 0.3s ease-in-out;
}

.sidebar.hidden {
  transform: translateX(-100%);
}

.sub {
  margin-left: 250px;
  width: calc(100% - 250px);
  height: calc(100vh - 60px);
  overflow-y: auto;
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.sub.full{
  margin-left: 0;
  width: 100%;
}


@media (max-width: 768px) {
  .sidebar {
      transform: translateX(-100%);
  }

  .sub {
      margin-left: 0;
      width: 100%;
  }

  .sidebar.visible {
      transform: translateX(0);
  }
}

/* Login CSS */

.login{
  background-color: #D4F6FF;
}

form i{
  margin-top: 22px;
  padding: 0px;
  margin-left: -30px !important;
  cursor: pointer;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.eye {
  z-index: 5;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.card-title{
  color: #0F67B1 !important;
}

.btn-primary{
  background-color: #0F67B1 !important;
}

.forgot{
  font-size: smaller;
}

/* Register User CSS */

.inner-container{
  background: #FAFAFA 0% 0% no-repeat padding-box;
  border-radius: 5px;
}

.upload-div{
    
  border: #3E3E3E 1px dashed;

}

/* Toaster CSS */
.toast-success {
  background-color: #28a745 !important;
  color : white !important;
}

.toast-error {
  background-color: #dc3545 !important; 
  color : white !important;
}



/* Header CSS */
.search:focus{
  outline: none!important;
  box-shadow: none!important;
  border: 1px solid rgb(197, 195, 195);
}

.search i{
  margin-left: -21px;
}

.user-img{
  height: 40px;
  width: 40px;
}

.user-img1{
  height: 100px;
  width: 100px;
}

.btn.show{
  border: none !important;
}

/* Profile Css */
.title{
  font-size: 1.3rem;
  font-weight: 600;
  color:black;
  max-width: 50%;
  background-color: #606069;
  /* background-color: var(--profile-detail-title-bg); */
  /* color: var(--profile-text-color); */
  /* border-right: .1rem solid black; */
  font-size: 1.3rem;
  flex: 0 0 35%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 35%;
}


.form-detail ul li span{
  padding: 1rem;
}

.table th{
 background-color: #f5f5f8;
}

.member{
  background-color: #f5f5f8;
}

.dashboard-leave{
  border : 1px solid #dee2e6
}

.changePassword{
  margin-left: 200px !important;
}

/* .leave{
  overflow-y: scroll; 
} */

/* Leave Table Css */
.approved
  {
    width: 100px;
    padding: 3px;
    background-color: rgb(107, 189, 107);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rejected
  {
    width: 100px;
    padding: 3px;
    border-radius: 0px;
    background-color: #dc3545;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pending
  {
    width: 100px;
    padding: 3px;
    border-radius: 0px;
    background-color: #eef077;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rejected
  {
    width: 100px;
    padding: 3px;
    border-radius: 0px;
    background-color: #dc3545;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cancelled
  {
    width: 100px;
    padding: 3px;
    border-radius: 0px;
    background-color: #b4b48f;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .accordion-btn {
    margin: 11px !important;
    padding: 4px !important;
    color: gray !important;
    background-color: #fff !important;
    border: 1px solid gray !important;
    border-radius: 50% !important;
    transform: rotate(-90deg) !important;
  }
  .accordion-btn:focus {
    z-index: 3;
    border-color: #fff !important;
    background-color: #fff !important;
    border: 1px solid gray !important;
    outline: 0;
    box-shadow: none !important;
  }
  .accordion-btn:not(.collapsed) {
    color: #fff !important;
    background-color: #e7f1ff;
    box-shadow: none !important;
    border: 1px solid #0066a7 !important;
    border-radius: 50% !important;
  }

  
.accordion-item{
  background-color: #f5f5f8;
  box-shadow: none !important;
}

.heading{
  /* font-size: medium; */
}

.events{
  background-color: #CAE7D9;
}

.eventDetails:active, .eventDetails:hover{
  color: #0F67B1 !important;
  text-decoration: underline !important;
}

.dashboard-card{
  height: 300px;
  overflow: auto;
}

/* Notification Css */
#notificationContent{
  max-height: 500px;
  overflow: auto;
}

/* .notificationEventDetails{
  cursor: pointer;
} */
.notification{
  min-width: 20rem !important;
}

.read-icon:hover{
  cursor: pointer;  
}

.btn .badge {
  /* position: relative; */
  top: 5px !important;
}

/* HelpDesk CSS */
.form-multi-select-input-group{
  border-radius: 0% !important;
  border: 2px solid #ced4da !important;
  box-shadow: none !important;
  
}

.form-select{
  display: block !important;
}