/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-3p0re55jfj] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-3p0re55jfj] {
  color: #0077cc;
}

.btn-primary[b-3p0re55jfj] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-3p0re55jfj], .nav-pills .show > .nav-link[b-3p0re55jfj] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-3p0re55jfj] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-3p0re55jfj] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-3p0re55jfj] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-3p0re55jfj] {
  font-size: 1rem;
  line-height: inherit;
}

/* .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
} */

.main-container[b-3p0re55jfj]{
  display: flex;
  height: 886px;
  
}

.accordion-item[b-3p0re55jfj]{
  background-color: #f5f5f8;
}
.accordion-button[b-3p0re55jfj]{
  background-color: #f5f5f8;
  color: gray !important;
  
}
.accordion-button:not(.collabsed)[b-3p0re55jfj]::after{
  color: #000;
  color: gray !important;
}

.sidebar[b-3p0re55jfj] {
  background-color: #f5f5f8;
}
.navbar[b-3p0re55jfj]{
  background-color: #f5f5f8;
}
/* .sidebar.hidden {
  transform: translateX(-100%);
} */
.content[b-3p0re55jfj] {
  margin-left: 250px;
  transition: all 0.3s;
}
.content.full[b-3p0re55jfj] {
  margin-left: 0;
}
.topbar[b-3p0re55jfj] {
  height: 60px;
  background-color: #0d6efd;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1050;
}