@model Employee_Self_Service_DAL.ViewModel.LoginViewModel
@{
    Layout = "_Login_Layout";
}

<div class="container d-flex flex-column align-item-center justify-content-center">
    <div class="content  d-flex flex-column align-item-center justify-content-center">
        <div class="row d-flex align-item-center justify-content-center mt-5">

            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h2 class="card-title text-center mb-5 fw-bold fs-2 ">Employee Self-Service</h2>

                        <form asp-action="SendMail" asp-controller="Login" >
                            <p class="fs-4 fw-semibold">Forgot Password</p>
                            <p class="forgot">Enter your email and we'will send you a link to reset password.</p>
                            <div class="mb-3">
                                <div class="form-floating  d-flex">
                                    <input type="email" asp-for="Email" class="form-control" id="floatingInput"
                                        placeholder="name@example.com">
                                    <i class="bi bi-person-fill"></i>

                                    <label for="floatingInput">Email</label>
                                </div>                                
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            
                            <div class="d-grid">
                                <button class="btn btn-primary btn-login  fw-bold"
                                    type="submit">Send</button>
                            </div>
                            
                                 <a <span  class="d-flex text-decoration-none justify-content-center mt-2 " href="/Login/Index"> Back to Login </span></a>
                        
                            <hr class="my-4">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>