@model Employee_Self_Service_DAL.ViewModel.RegisterViewModel
@{
    Layout = "_Login_Layout";
}

<div>
    <div class="container-fluid w-75">
        <h2 class="text-primary  fw-bold">Register</h2>
        <form asp-action="Register" asp-controller="Login" method="post" enctype="multipart/form-data">
            <div class="inner-container mt-3 p-4">
                <!-- First Row Name and Role -->
                <div class=" d-flex flex-md-row flex-column gap-3 flex-wrap mt-2">
                    <div class="form-floating col">
                        <input type="text" class="form-control" id="Name" placeholder="Name" asp-for="Name">
                        <label for="floatingInput">Name</label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating col">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                            asp-for="RoleId">
                            <option selected value="">Select Role</option>
                            <option value="1">Admin </option>
                            <option value="2">Employee</option>
                            <option value="3">HR</option>
                            <option value="4">Network</option>
                        </select>
                        <label for="floatingSelect">Role</label>
                        <span asp-validation-for="RoleId" class="text-danger"></span>
                    </div>
                </div>

                <!-- Second Row Email and Contact No -->
                <div class="d-flex flex-md-row flex-column gap-3 mt-4">
                    <div class=" col d-flex flex-column ">
                        <div class="form-floating col d-flex  ">
                            <input type="email" class="form-control" id="floatingInput" asp-for="Email"
                                placeholder="name@example.com">
                            <i class="bi bi-person-fill"></i>

                            <label for="floatingInput">Email</label>
                        </div>
                        <div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-floating col ">
                        <input type="text" class="form-control" id="floatingPassword" asp-for="Phone"
                            placeholder="Phone">
                        <label for="floatingPassword">Contact No</label>
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>

                <!--Third Row Password -->
                <div class="d-flex flex-md-row flex-column gap-3 mt-4">
                    <div class="col d-flex flex-column">
                        <div class="form-floating col d-flex ">
                            <input type="password" class="form-control" id="user-password" asp-for="Password"
                                placeholder="Password">
                            <i class="bi bi-eye-slash-fill  login-form-icon" id="toggle-password"></i>
                            <label for="floatingPassword">Password</label>

                        </div>
                        <div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col d-flex flex-column">
                        <div class="form-floating col d-flex ">
                            <input type="password" class="form-control" id="user-confirmpassword"
                                asp-for="ConfirmPassword" placeholder="Password">
                            <i class="bi bi-eye-slash-fill  login-form-icon" id="toggle-confirmpassword"></i>
                            <label for="floatingPassword">Confirm Password</label>
                        </div>
                        <div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <!--Forth Row Department And Designation-->
                <div class=" d-flex flex-md-row flex-column gap-3 flex-wrap mt-4">
                    <div class="form-floating col">
                        <input type="text" class="form-control" id="DepartMent" asp-for="Department"
                            placeholder="Department">
                        <label for="floatingInput">Department</label>
                        <span asp-validation-for="Department" class="text-danger"></span>
                    </div>
                    <div class="form-floating col ">
                        <input type="text" class="form-control" id="Designation" asp-for="Designation"
                            placeholder="Designation">
                        <label for="floatingPassword">Designation</label>
                        <span asp-validation-for="Designation" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-floating col ">
                    @* <div class="upload-div w-100 mt-4 p-3 d-flex flex-column justify-content-center
                    align-items-center">
                    <i class="bi bi-cloud-arrow-up"></i>
                    <input type="file" id="file" asp-for="@Model.ProfileImage">
                    <a href="" class="file text-secondary">Browse file</a>

                    <label fw-semibold" for="floatingPassword">Profile Image</label>
                    </div> *@
                    <div class="col-auto border-1 mt-4 py-2 d-flex justify-content-center"
                        style="border: 1px dashed gray;">
                        <input type="file" asp-for="ProfileImage" id="actual-btn" hidden
                            accept="image/png, image/jpeg" />
                        <label for="actual-btn" asp-for="ProfileImage"
                            class="btn  fw-semibold d-flex flex-column align-items-center">
                            <i class="bi bi-cloud-arrow-up"></i>
                            <span class="text-secondary">Browse file</span>
                            <label fw-semibold" for="floatingPassword">Profile Image</label>
                        </label>
                        <p id="file-chosen" class="text-danger my-auto px-2"></p>
                    </div>
                </div>

                <div class="d-flex align-items-center  gap-2 mt-4">
                    <button type="submit" class="btn btn-primary">
                        Register
                    </button>
                    <a href="/Login/Index"><button type="button" class="btn btn-outline-primary">
                            Cancel
                        </button>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    const togglePassword = document.getElementById("toggle-password");
    togglePassword?.addEventListener("click", (e) => {
        const password = document.getElementById("user-password");
        password.type = password.type == "password" ? "text" : "password";

        if (password.type == "password") {
            togglePassword.classList.remove("bi-eye-fill");
            togglePassword.classList.add("bi-eye-slash-fill");
        } else {
            togglePassword.classList.remove("bi-eye-slash-fill");
            togglePassword.classList.add("bi-eye-fill");
        }
    });

    const toggleConfirmPassword = document.getElementById("toggle-confirmpassword");
    toggleConfirmPassword?.addEventListener("click", (e) => {
        const confirmpassword = document.getElementById("user-confirmpassword");
        confirmpassword.type = confirmpassword.type == "password" ? "text" : "password";

        if (confirmpassword.type == "password") {
            toggleConfirmPassword.classList.remove("bi-eye-fill");
            toggleConfirmPassword.classList.add("bi-eye-slash-fill");
        } else {
            toggleConfirmPassword.classList.remove("bi-eye-slash-fill");
            toggleConfirmPassword.classList.add("bi-eye-fill");
        }
    });

    $('#actual-btn').change(function () {
        var file = $('#actual-btn')[0].files[0];
        if (file) {
            var fileType = file.type;
            var validImageTypes = ["image/gif", "image/jpeg", "image/png", "image/webp"];
            if ($.inArray(fileType, validImageTypes) < 0) {
                callToastify("Please select a valid image file (GIF, JPEG, PNG, WEBP).", "error");
                $(this).val('');
            } else {
                $('#file-chosen').text(file.name);
            }
        }

    });
</script>
