@model Employee_Self_Service_DAL.ViewModel.LoginViewModel
@{
    Layout = "_Login_Layout";
}

<div class="container d-flex flex-column align-item-center justify-content-center">
    <div class="content  d-flex flex-column align-item-center justify-content-center">
        <div class="row d-flex align-item-center justify-content-center mt-5">

            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h2 class="card-title text-center mb-5 fw-bold fs-2 ">Employee Self-Service</h2>

                        <form asp-action="ResetPassword" asp-controller="Login">
                            <input type="hidden" asp-for="Email">
                            <p class="fs-4 fw-semibold">Reset Password</p>

                            <div class="mb-3">
                                <div class="form-floating  d-flex">
                                    <input type="password" asp-for="NewPassword" class="form-control" id="user-password"
                                        placeholder="New Password">
                                    <i class="bi bi-eye-slash-fill  login-form-icon" id="toggle-password"></i>
                                    <label for="floatingPassword">New Password</label>
                                </div>
                                <span class="text-danger" asp-validation-for="NewPassword"></span>
                            </div>

                            <div class="mb-3">
                                <div class="form-floating  d-flex">
                                    <input type="password" class="form-control" id="user-confirmpassword"
                                        asp-for="ConfirmPassword" placeholder="Confirm Password">
                                    <i class="bi bi-eye-slash-fill  login-form-icon" id="toggle-confirmpassword"></i>
                                    <label for="floatingPassword">Confirm Password</label>
                                </div>
                                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                            </div>

                            <div class="d-grid">
                                <button class="btn btn-primary btn-login  fw-bold" type="submit">Submit</button>
                            </div>
                            <a <span class="d-flex text-decoration-none justify-content-center mt-2 "
                                href="/Login/Index"> Back to Login </span></a>
                            <hr class="my-4">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    const togglePassword = document.getElementById("toggle-password");
    togglePassword?.addEventListener("click", (e) => {
        const password = document.getElementById("user-password");
        password.type = password.type == "password" ? "text" : "password";

        if (password.type == "password") {
            togglePassword.classList.remove("bi-eye-fill");
            togglePassword.classList.add("bi-eye-slash-fill");
        } else {
            togglePassword.classList.remove("bi-eye-slash-fill");
            togglePassword.classList.add("bi-eye-fill");
        }
    });

    const toggleConfirmPassword = document.getElementById("toggle-confirmpassword");
    toggleConfirmPassword?.addEventListener("click", (e) => {
        const confirmpassword = document.getElementById("user-confirmpassword");
        confirmpassword.type = confirmpassword.type == "password" ? "text" : "password";

        if (confirmpassword.type == "password") {
            toggleConfirmPassword.classList.remove("bi-eye-fill");
            toggleConfirmPassword.classList.add("bi-eye-slash-fill");
        }else {
            toggleConfirmPassword.classList.remove("bi-eye-slash-fill");
            toggleConfirmPassword.classList.add("bi-eye-fill");
        }
    });
</script>