@model Employee_Self_Service_DAL.ViewModel.LoginViewModel
@{
    Layout = "_Layout";
}


<div>
    <h2 class="changePassword text-primary d-flex p-3 mt-3 fw-bold">Change Password</h2>
    <form asp-action="ChangePassword" asp-controller="Profile" method="post">
        <div class="container-fluid w-75">
            <p>Enter a New Password to update your account credentials</p>

            <div class="form-floating  col-md-5">
                <input type="password" class="pass1 form-control" id="floatingPassword" asp-for="Password"
                    placeholder="Password">
                <label for="floatingPassword">Current Password*</label>

                <span class="eye position-absolute"><i class="showEye1 bi bi-eye-slash-fill bi bi-eye-fill fs-5"></i></span>
                
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>

            @* <div class="form-floating input-group">
            <input type="password" class="form-control" id="CurrentPassword" placeholder="">
            <label for="CurrentPassword">Current Password*</label>
            <span class="input-group-text">
            <i class="eye-icon fa fa-eye-slash cursor-pointer" onclick="togglePassword('CurrentPassword', this)"></i>

            </span>
            </div> *@

            <div class="form-floating mt-3 col-md-5">
                <input type="password" asp-for="NewPassword" class="pass2 form-control" id="floatingPassword"
                    placeholder="Password">
                <label for="floatingPassword">New Password*</label>
                <span class="eye position-absolute"><i class="showEye2 bi bi-eye-slash-fill bi bi-eye-fill fs-5"></i></span>
                
            </div>
            <span class="text-danger" asp-validation-for="NewPassword"></span>

            <div class="form-floating mt-3 col-md-5 ">

                <input type="password" class="pass3 form-control" asp-for="ConfirmPassword" id="floatingPassword"
                    placeholder="Password">
                <label for="floatingPassword">Confirm New Password*</label>

                <span class="eye position-absolute"><i class="showEye3 bi bi-eye-slash-fill bi bi-eye-fill fs-5"></i></span>
            </div>
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>

            <div class="d-flex align-items-center mt-4 gap-2">
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
                <a href="/Home/Index" ><button type="button" class="btn btn-white text-primary border-primary">Cancel</button></a>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(".showEye1").click(function () {
    console.log("button click");

    $(this).toggleClass("bi bi-eye-slash-fill");
    if ($(".pass1").attr("type") == "password") {
      $(".pass1").attr("type", "text");
    } else {
      $(".pass1").attr("type", "password");
    }
  });

  $(".showEye2").click(function () {
    console.log("button click");

    $(this).toggleClass("bi bi-eye-slash-fill");
    if ($(".pass2").attr("type") == "password") {
      $(".pass2").attr("type", "text");
    } else {
      $(".pass2").attr("type", "password");
    }
  });

  $(".showEye3").click(function () {
    console.log("button click");

    $(this).toggleClass("bi bi-eye-slash-fill");
    if ($(".pass3").attr("type") == "password") {
      $(".pass3").attr("type", "text");
    } else {
      $(".pass3").attr("type", "password");
    }
  });
</script>